<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!--References/Own Work
Overall structure of html layout and getting table data from a database through a controller was got from this website:
I modified this to display my own fields and obtain my own data, including additional fields and input fields.
Original displayed the whole database table of produceItems. I added code to:
- just display newly added item/modified item on its own after add/update was done.
- add button, to display all again.
- add input field for user to enter text for Name field that will just display items out of complete returned array containing that text.
- add input field for user to enter text for Seller's Name that will just display items out of complete returned array containing that text.
- add into panel for adding/modifying a produceItem, an drop down box that shows   'prodType' field from database table Produce Type, 
  for user selection that will get stored in produceItem object saved to database-->

<div class="generic-container" ng-controller="ProduceItemController as ctrl">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="alert alert-success"><span class="lead">List of Produce Items </span>
            <button type="button" ng-click="ctrl.fetchAllProduceItems()" class="btn btn-primary btn-sm " ">Display All</button>
            <label for="searchPIName">Search for Produce Name</label>
            <input type="text" ng-model="search.name" id="searchPIName" placeholder="Type produce name"/>
            <label for="searchPISeller">Search for Seller Name</label>
            <input type="text" ng-model="search.sellerName" id="searchPISeller" placeholder="Type seller name"/>
        </div>
        <div class="row">

        </div>

        <div class="tablecontainer">

            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <!--                              <th>ID.</th>-->
                        <th>Name</th>
                        <th>Description</th>
                        <th>Produce Type</th>
                        <th>Weight (Kgs) </th>
                        <th>Item Price </th>
                        <th>End of Sale Date</th>
                        <th>Name of Seller</th>
                        <th width="100"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="u in ctrl.produceItems | filter: search">
                        <!--                              <td><span ng-bind="u.id"></span></td>-->
                        <td><strong><span ng-bind="u.name"></span></strong></td>
                        <td><span ng-bind="u.description"></span></td>
                        <td><span ng-bind="u.producetype.prodType"></span></td>
                        <td><span ng-bind="u.weight" > </span> Kgs</td>
                        <td><span ng-bind="u.itemPrice | currency :'€'" > </span></td>
                        <td><span ng-bind="u.endOfSaleDate"></span></td>
                        <td><span ng-bind="u.sellerName"></span></td>
                        <td>
                            <button type="button" ng-click="ctrl.remove(u.id)" class="btn btn-warning custom-width">Order</button>
                            <a href="#/orderItemAdd" class="btn btn-info" role="button" ng-click="ctrl.edit(u.id)"> Home </a>
                            <!--<a href="#/orderVA" class="btn btn-info" role="button" ng-click="ctrl.edit(u.id)"> Home </a>-->

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>




